# Control de versiones
.git
.gitignore

# Entornos virtuales
venv/
env/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Si tienes pesos temporales (opcional, aunque best.pt SÍ se debe subir)
# models/*.pt 
# En este caso queremos que best.pt suba, así que no lo ignoramos.
